/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  color: #fff;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 50px;
  overflow: hidden;;
}

.hero .content {
  position: relative;
  z-index: 1;
  margin-left: 20%;
  scale: 150%;
}

.hero .vanta-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero .content h2 {
  font-family: Electrolize, sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.hero .content h1 {
  font-family: Electrolize, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 10px 0;
}


.hero .content h1 span {
  font-family: leckerli One, cursive;
  font-size: 3.5rem;
}

.hero .content p {
  font-family: Handlee, cursive;
  font-size: 1.2rem;
  margin: 10px 0 20px 0;
}


.auto-type {
  font-family: Handlee, cursive;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Courier New', monospace;
  color: #ff4ecd;
}

/* Social Icons */
.social-links {
  margin-top: 15px;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.social-links a:hover {
  color: #ff0066;
}

/* Navbar */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 10px 25px;
  background: linear-gradient(#000000, #000) padding-box,
              linear-gradient(90deg, red, purple, blue) border-box;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-family: SF Pro Text, sans-serif;
  transition: 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: #ff4ecd;
}

/* About Section */
.About {
  padding: 50px;
  background: #fafafa;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-content {
  flex: 2;
}

.about-content h4 {
  font-family: Leckerli One, cursive;
  font-size: 1.2rem;
  color: #555;
}

.about-content h2 {
  font-family: Electrolize, sans-serif;
  font-size: 2.5rem;
  margin: 10px 0;
}

.about-content p {
  font-family: Handlee, cursive;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #000000;
}

/* Animation */
.about-container {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
  will-change: opacity, transform;
}

.about-container.show-animate {
  opacity: 1;
  transform: translateY(0);
}

/* Skills Section */
.Skills {
  padding: 50px;
  background: #fafafa;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.skills-title {
  font-family: Electrolize, sans-serif;
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 30px;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.skill-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
  border: none;
}

.skill-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-card.is-flipped .skill-card-inner {
  transform: rotateY(180deg);
}

.skill-card-front,
.skill-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-image: linear-gradient(to right, red, purple, blue) 1;
}

.skill-card-back {
  transform: rotateY(180deg);
}

.skill-card h3 {
  font-family: Electrolize, sans-serif;
  font-size: 1.5rem;
}

.skill-card-back ul {
  list-style: none;
  padding: 0;
}

.skill-card-back ul li {
  font-family: Electrolize, sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Projects Section */
.Projects {
  padding: 50px 50px 80px;
  background: #fafafa;
  text-align: center;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.projects-title {
  font-family: Electrolize, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 30px;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  background: #f0f0f0;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden; /* This will contain the image within the rounded corners */
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make the image cover the container, cropping if necessary */
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.project-title {
  font-family: Electrolize, sans-serif;
  font-size: 1.2rem;
}

.btn-github {
  background: #000;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-github:hover {
  background: #333;
}

.view-all {
  font-family: Electrolize, sans-serif;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close-button {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-redirect {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  transition: 0.3s;
}

.btn-redirect:hover {
  background: #0056b3;
}

/* Contact Section */
.Contact {
  padding: 50px;
  background: #fafafa;
  color: #000;
}

.contact-container {
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contact-info {
  background: #000;
  color: #fff;
  padding: 40px;
  width: 40%;
}

.contact-info h2 {
  font-family: Electrolize, sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 20px;
}

.social-links-contact a {
  color: #fff;
  margin-right: 10px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.social-links-contact a:hover {
  color: #ff0066;
}

.contact-form {
  padding: 40px;
  width: 60%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-send {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-send:hover {
  background: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Hero Section */
  .hero .content {
    margin-left: 10%;
    scale: 100%;
    text-align: center;
  }

  .hero .content h1 {
    font-size: 2.5rem;
  }

  .hero .content h1 span {
    font-size: 3rem;
  }

  /* About Section */
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    max-width: 250px;
    margin-bottom: 20px;
  }

  /* Skills Section */
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  /* Projects Section */
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  /* Contact Section */
  .contact-container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }

  /* Navbar */
  .navbar ul {
    padding: 10px 15px;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .navbar ul li a {
    font-size: 0.9rem;
  }
}
